body {
    /* background-image: radial-gradient(white, darkgray);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed; */
    background-color: white;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

th {
    background-color: gray;
    color: white;
    padding: 10px;
}

td {
    width: 200px;
    text-align: center;
    position: relative;
}

td img {
    width: 100%;
    height: 200px;
    border-radius: 1px solid gray;
}

body {
    /* background-color: #f1f1f1; */
}


#form-login {
    width: 400px;
    height: 380px;
    background-color: white;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 1px 1px 50px 1px lightgray;
    margin-top: 80px;
}

#form-login input[type=text],
#form-login input[type=password] {
    width: 100%;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}

#form-login input[type=button] {
    float: right;
    background-color: green;
    padding: 10px 20px;
    color: white;
    border: none;
    border-bottom: 3px solid darkgreen;
    border-radius: 3px;
    transition: .3s;
    margin-top: 40px;
}

#form-login input[type=button]:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.item {
    background-color: gray;
    height: 200px;
    color: white;
    transition: .3s;
    border-radius: 5px;
}

.item a {
    color: white;
    text-decoration: none;
}

/* .item:hover {
    background-color: darkgreen;
    color: black;
} */

.presente, .ausente {
    color: white;
}

.presente {
    background-color: #327b32;
}

.ausente {
    background-color: #b50000;
}

td input[type=button] {
    background-color: lightgray;
    border: none;
    border-bottom: 3px solid darkgray;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

td input[type=button]:hover {
    background-color: darkgray;
    transition: .3s;
    cursor: pointer;
}

.item span {
    width: 100%;
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 3px;
}

.item span:hover {
    background-color: black;
    transition: .3s;
}